@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  width: 100%;
  height: 100%;
}

#navbar {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 1.5vh !important;
  padding-bottom: 0 !important;
  height: 5.8vh;
}

#navbar {
  min-height: 6vh !important;
  max-height: 6vh !important;
  margin: 0 !important;
}

#navbar .container-fluid {
  min-height: 6vh !important;
  max-height: 6vh !important;
}

#navbar .container-fluid .navbar-header {
  min-height: 6vh !important;
  max-height: 6vh !important;
}

.homeImg {
  width: 100%;
  min-height: 660px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  object-fit: cover;
}

#imageText {
  position: absolute;
  display: inline-block;
  width: 80vw;
  max-height: 30vh;
  text-align: center;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Libre Baskerville', serif;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#imageIcons {
  position: absolute;
  width: 80vw;
  max-height: 40vh;
  display: inline-block;
  text-align: center;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

@media (max-width: 767px) {
  #imageText h1 {
    font-weight: bold;
    font-size: 6.3vw;
  }

  #imageIcons h1 {
    font-weight: bold;
    font-size: 2.8vw;
  }
}

@media (min-width: 768px) {
  #imageText h1 {
    font-weight: bold;
    font-size: 4.5vw;
  }

  #imageIcons h1 {
    font-weight: bold;
    font-size: 2vw;
  }
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

@media (max-width: 320px) {
  #navbar button {
      margin: 3px 0px 0px 0px;
      padding: 0.5vw;
      background-color: black;
      height: 6vw;
      width: 10.5vw;
      position: absolute;
      left: 77vw;
      top: 2vw;
  }

  #navbar button span {
    height: 0.5vh;
    width: 8.6vw;
  }
}

@media (min-width: 321px) and (max-width: 544px){
  #navbar button {
      margin: 3px 0px 0px 0px;
      padding: 0.5vw;
      background-color: black;
      height: 7.5vw;
      width: 12.5vw;
      position: absolute;
      left: 77vw;
      top: 0.4vw;
  }

  #navbar button span {
    height: 0.7vh;
    width: 10.8vw;
  }
}

@media (min-width: 545px) and (max-width: 767px){
  #navbar button {
      margin: 3px 0px 0px 0px;
      padding: 0.5vw;
      background-color: black;
      height: 2.5vw;
      width: 5.0vw;
      position: absolute;
      left: 90.5vw;
      top: 0.0vw;
  }

  #navbar button span {
    height: 0.5vh;
    width: 3.9vw;
  }
}

ul.nav a {
  background-color: white !important;
  color: black;
}

.scrollHeight {
  font-weight: bold;
}

ul.nav a:active, ul.nav a:hover {
  font-weight: bold !important;
}

#brandNavlink {
  color: black;
  font-weight: bold;
  font-size: 3.3vh;
  position: absolute;
  left: 2%;
  top: 0%;
}

#homeNavlink {
  color: black;
  font-size: 2.5vh;
}

#portfolioNavlink {
  color: black;
  font-size: 2.5vh;
}

#aboutNavlink {
  color: black;
  font-size: 2.5vh;
}

#contactNavlink {
  color: black;
  font-size: 2.5vh;
}

#mainDiv {
  margin: 0 auto;
}

@media (min-width: 769px){
  div p {
    font-family: 'Libre Baskerville', serif;
    font-size: 2vw;
  }
}

@media (max-width: 768px){
  div p {
    font-family: 'Libre Baskerville', serif;
    font-size: 3vw;
  }
}

@media (min-width: 768px){
  div h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.0vw;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
  }
}

@media (max-width: 767px){
  div h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5.5vw;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
  }
}
#home {
  /* padding-top: 10%; */
  min-height: 660px;
  color: white;
  overflow: hidden;
  background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
  url('http://www.empoweredbrain.org/wp-content/uploads/2016/03/projectimage2.jpg');
  background-position: center;
  background-size: cover;
}

.fa {
  padding-bottom: 0.1em;
}
.img-circle {
  max-width: 100%;
}
#about {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(171, 177, 184);
}

#portfolio {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(208, 213, 212);
}

#contact {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(208, 213, 212);
}

.aboutIndent {
  text-indent: 4vw;
}

.col-xs-7 {
  padding-top: 5%;
}

h1 {
  padding-bottom: 5%;
}

.caption {
  background-color: rgb(211, 211, 211);
}

.row .thumbnail {
  border: 1px solid black;
  height: 100% !important;
}

.row .thumbnail a img {
  width: 100%;
}

#profilePic {
  max-height: 60vw;
}

.picIcon {
  color: rgb(244, 235, 235);
  padding: 2%;
}

.picIcon:hover {
  color: black;
}